<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="form" (ngSubmit)="createUser()">
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="mail"
        >
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo"
          formControlName="name"
        >
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário"
          formControlName="user"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="password"
        >
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block">Register</button>
    </form>
    <hr />

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Already have an account? <a 
        href="#" 
        class="card-link"
        (click)="switchPanel()"
      >Login Here</a>
    </p> 
  </div>
</div>