/*reset*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*defines the 1 rem base = 10px. 10px/16px = 62.5%*/
  font-size: 62.5%;
}

body {
  background-color: rgb(250, 250, 250);
}
