.title {
  background-image: linear-gradient(to right, rgb(0, 187, 176), rgb(0, 140, 175));
  text-align: center;
  padding: 1rem 2rem;
  position: relative;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fafafa;
}

/*screens smaller than 450px*/
@media only screen and (max-width: 28.125em) {
  .title h1 {
    font-size: 2rem;
  }
}

.btn__box { 
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding: .5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
}

.btn__box:hover {
  transform: translate(-50%, -55%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn {
  background-color: transparent;
  border: none;
}

.btn__icon {
  height: 1.75rem;
  width: 1.75rem;
  padding: .2rem;
  fill: #ccc;
}

/*screens smaller than 600px*/
@media only screen and (max-width: 37.5em) {
  .btn__box { 
    top: 60%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  
  .btn__icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: .3rem;
  }
}